<html xmlns:th="http://www.thymeleaf.org">


<head>
    <title>Index Page</title>
    <link rel="stylesheet" th:href="@{/main.css}" href="/main.css" />
</head>
<body>
 Simulation Sample Request Page

<h6><a href="http://192.168.0.27:9542/getLecture">Lecture1</a></h6>
<h6><a href="http://192.168.0.27:9542/getLecture/1">Lecture2</a></h6>
<h6><a href="http://192.168.0.27:9542/getStudentClientRest/1">LectureRestToStudent</a></h6>
<hr/>


<h6><a href="http://192.168.0.28:9541/getStudents">Student1</a></h6>
<h6><a href="http://192.168.0.28:9541/getStudents/1">Student2</a></h6>
<h6><a href="http://192.168.0.28:9541/getLectureRestClient/1">StudentRestToClient</a></h6>



</body>
</html>